# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Kakao
NEXT_PUBLIC_KAKAO_MAP_KEY=
KAKAO_MOBILITY_API_KEY=

# AI
AI_PROVIDER=google
GOOGLE_GENERATIVE_AI_API_KEY=

# App
NEXT_PUBLIC_USE_MOCK=true
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Sentry
NEXT_PUBLIC_SENTRY_DSN=

# Database
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./dev.db
